.purpleText     {color: map-get($map: $colors, $key: "purple");}
.darkPurpleText {color: map-get($map: $colors, $key: "darkpurple");}
.pinkText       {color: map-get($map: $colors, $key: "pink");}
.orangeText     {color: map-get($map: $colors, $key: "orange");}