.purpleText     {color: map-get($map: $colors, $key: "purple");}
.darkPurpleText {color: map-get($map: $colors, $key: "darkpurple");}
.blueText     {color: map-get($map: $colors, $key: "blue");}
.lightblueText     {color: map-get($map: $colors, $key: "lightblue");}
.pinkText       {color: map-get($map: $colors, $key: "pink");}
.orangeText     {color: map-get($map: $colors, $key: "orange");}