.header {
    .container-fluid {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
    }
}

.brand {
    span {

    }
}

.contact-us {
    position: fixed;
    top: 35px;
    z-index: 99;
    right: 130px;
    display: flex;
    align-items: center;

    span {
        font-size: 12px;
        // color: var(--heading-color);
    }

    button {
        height: 34px;
        width: 34px;
        background: white;
        margin-left: 20px;
        border-radius: 3px;
        box-shadow: 0 3px 6px rgba(116, 116, 116, 0.16);
    }
}

.nav-toggle-btn {
    margin: 0;
    padding: 0;
    top: 38px;
    right: 50px;
    border: none;
    z-index: 995;
    position: fixed;
    background-color: transparent;
}

/****************************************************** */
/****************** 02. Common Class ****************** */
/****************************************************** */

.hamburger {
    display: flex;
    align-self: center;
    flex-direction: column;
    justify-content: space-between;
    width: 24px;
    height: 24px;
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 5px;

    span {
        align-self: flex-end;
        height: 2px;
        width: 100%;
        background: #3e4651;
        transition: all 400ms ease-in-out
    }

    .meat {
        width: 83.33333333%;
        transition: all 200ms ease-in-out
    }

    .bottom-bun {
        width: 58.33333333%;
        transition: all 400ms ease-in-out
    }

    &:hover {
        span {
            width: 100%
        }
    }
}

html {
    &:not(.body-menu-opened) .hamburger:hover {
        .top-bun {
            //animation: name duration timing-function delay iteration-count direction fill-mode;
            animation: burger-hover 1s infinite ease-in-out alternate forwards 200ms;
        }

        .meat {
            animation: burger-hover 1s infinite ease-in-out alternate forwards 400ms;
        }

        .bottom-bun {
            animation: burger-hover 1s infinite ease-in-out alternate forwards 600ms;
        }
    }
}

@keyframes burger-hover {
    0% {width: 100%;}
    50% {width: 50%;}
    100% {width: 100%;}
}

.body-menu-opened {
    .hamburger {
        .top-bun {
            transform: rotate(-45deg) translate(-4.5px, 4px);
            width: 100%;
        }
    }
}