#preloader {
    &::before,
    &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 50%;
        height: 100%;
        z-index: -1;
        background-color: #000000;
        transition: all 0.3s ease 0s;
    }

    &::after {
        left: auto;
        right: 0;
    }

    .loader {
        margin: auto;
        width: 1px;
        height: 250px;
        position: relative;
        overflow: hidden;
        transition: all 0.8s ease 0s;
    
        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            width: 1px;
            height: 0%;
            transform: translateY(-50%);
            background-color: #FFFFFF;
            //animation: name duration timing-function delay iteration-count direction fill-mode;
            animation: lineheight 1000ms ease-in-out 0 forwards;
        }

        &::after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 1px;
            height: 100%;
            background-color: #FFFFFF;
            transform: translateY(-100%);
            //animation: name duration timing-function delay iteration-count direction fill-mode;
            animation: lineheight 1200ms linear 0s infinite;
            animation-delay: 2000ms;
        }

        @keyframes lineheight {
            0% {height: 0%;}
            100% {height: 100%;}
        }
    }
}