.mobile_menu {
    width: 100%;
    height: auto;
    position: fixed;
    top: 0px;
    left: 0px;
    display: none;
    z-index: 10;

    .mobile_menu_inner {
        width: 100%;
        height: auto;
        float: left;
        clear: both;
        background-color: $white;
        border-bottom: 1px solid rgba($color: $black, $alpha: 0.1);
        padding: 10px 20px;
    }

    .mobile_menu_main {
        width: 100%;
        height: auto;
        clear: both;
        float: left;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo {
            // img {}
        }
    }

    .trigger {
        line-height: 0;
    }

    .dropdown {
        width: 100%;
        height: auto;
        clear: both;
        float: left;
        background-color: $white;
        display: none;
    }
}