// wraper //
.wraper,
.wraper * {
    box-sizing: border-box;
}

.wraper {
    width: 100%;
    height: auto;
    clear: both;
    float: left;
    position: relative;

    &[data-magic-cursor="hide"] {
        .mouse-cursor {
            display: none;
            opacity: 0;
            visibility: hidden;
            position: absolute;
            z-index: -1111;
        }
    }
}

.section {
    width: 100%;
    height: auto;
    clear: both;
    float: left;
}