$colors: (
    "violet":     #A682FF,
    "deepviolet": #715AFF,
    "blue":       #5887FF,
    "lightblue":  #55C1FF,
    "darkblue":   #102E4A,
    "neon":       #63FD88,
    "green":      #33C58E,
    "darkgreen":  #276174,
    "teal":       #2999AD, //3BB2B8
    "yellow":     #FFBE0B,
    "orange":     #FB5607,
    "red":        #FF3333,
    "pink":       #FF006E,
);

$white: #FFFFFF;
$black: #000000;
$primary-color:     map-get($map: $colors, $key: "blue");
$secondary-color:   map-get($map: $colors, $key: "lightblue");
$success-color:     map-get($map: $colors, $key: "green");
$danger-color:      map-get($map: $colors, $key: "red");
$warning-color:     map-get($map: $colors, $key: "orange");