@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@300;400;500;600;700&family=DM+Serif+Display&family=Jost:wght@300;400;500;600;700&family=Source+Code+Pro:wght@300;400;500;600;700&display=swap');

// fonts //
$dmsans: 'DM Sans', sans-serif;
$dmdisp: 'DM Serif Display', serif;
$jost: 'Jost', sans-serif;
$source-pro: 'Source Code Pro', monospace;

// color //
$colors: (
    "lightblue":  #55C1FF,
    "blue":       #5887FF,
    "purple":     #715AFF,
    "darkpurple": #0A0046,
    "neon":       #63FD88,
    "green":      #33C58E,
    "darkgreen":  #276174,
    "teal":       #2999AD, //3BB2B8
    "violet":     #A682FF,
    "yellow":     #FFBE0B,
    "orange":     #FB5607,
    "red":        #FF3333,
    "pink":       #FF006E,
);

$white: #FFFFFF;
$grey:  #696969;
$black: #000000;
$primary-color:     map-get($map: $colors, $key: "purple");
$secondary-color:   map-get($map: $colors, $key: "blue");
$success-color:     map-get($map: $colors, $key: "green");
$danger-color:      map-get($map: $colors, $key: "red");
$warning-color:     map-get($map: $colors, $key: "orange");